body{
    margin:0px;
}

.image{
    background-image: url("suisei");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10%;
    padding-bottom: 10%;
    height: 500px;
}
p {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-style: italic;
    margin-top: 0;
    line-height: 100px;
    padding: 20px;
    position: relative;
    width: 250px;
    color: white;
    background-color: rgba(100, 100, 100, 0.15);
    top: 10%;
    left: 5%;
}
